<div class='container mt-5'>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
      <mat-card-subtitle>Enter your details below to create a new account</mat-card-subtitle>

    </mat-card-header>
    <mat-card-content>
      <div class='form-column' [formGroup]="accountForm">
        <mat-form-field style='margin-top: 2em;'>
          <input matInput id='Email' formControlName='Email' placeholder='Email' type="email" required>
        </mat-form-field>
        <mat-error *ngIf="Email.invalid && (Email.dirty || Email.touched)">Your email must be in the correct format.
        </mat-error>
        <mat-form-field>
          <input matInput formControlName='FirstName' placeholder='First Name' type="text">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName='LastName' placeholder='Last Name' type="text">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName='Password' placeholder='Password' type="password">
        </mat-form-field>
        <button mat-flat-button color='primary' (click)='onRegisterClick()'>Register</button>
        <button mat-button type="button" (click)=cancel()>Cancel</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
