<div class="fixed-top">
    <div class="row-maxwidth example-list"
    cdkDropList
    (cdkDropListDropped)='drop($event)'
    cdkDropListOrientation="horizontal">
            <app-character-card *ngFor='let card of characterCards'
            [character]='card'
            (deleted)='onCharacterDeleted($event)' cdkDrag cdkDragLockAxis="x">
        </app-character-card>
    </div>

    <div class='menu-container-top'>
        <button mat-raised-button (click)='onAddCreatureClick()'>
            <span>+ Add Creature</span>
        </button>
        <button mat-raised-button (click)='onInitiateEncounterClick()'>
            <span><img src='assets/images/DnD5E_ClassSymb_Fighter.tif'></span>
        </button>
    </div>
</div>
