<div class="fixed-top">
    <div class="row-maxwidth example-list"
    cdkDropList
    (cdkDropListDropped)='drop($event)'
    cdkDropListOrientation="horizontal">
            <app-character-card *ngFor='let card of creatureCards'
            [creature]='card'
            (deleted)='onCreatureDeleted($event)' cdkDrag cdkDragLockAxis="x">
        </app-character-card>
    </div>

    <div class='menu-container-top'>
        <button mat-raised-button (click)='onAddCreatureClick()'>
            <span>+ Add Creature</span>
        </button>
        <button mat-raised-button (click)='onInitiateEncounterClick()'>
            <span>COMBAT!</span>
        </button>
    </div>
</div>
