<h1 mat-dialog-title>Add Creature</h1>
<div mat-dialog-content>
  <div class="form-column" [formGroup]='characterForm'>
    <mat-form-field>
      <mat-label>Character Name</mat-label>
      <input matInput formControlName='Name' placeholder="input">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Initiative</mat-label>
      <input matInput formControlName='Initiative'>
    </mat-form-field>
    <mat-form-field>
      <mat-label>AC</mat-label>
      <input matInput formControlName='AC'>
    </mat-form-field>
    <mat-checkbox (change)='isHostile = !isHostile' formControlName='isHostile'>
      <mat-label>Is Hostile</mat-label>
    </mat-checkbox>
    <mat-form-field>
      <mat-label>Passive Perception</mat-label>
      <input matInput formControlName='PPerception'>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Passive Investigation</mat-label>
      <input matInput formControlName='PInvestigation'>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Passive Insight</mat-label>
      <input matInput formControlName='PInsight'>
    </mat-form-field>
    <div *ngIf="this.isHostile" class='form-row'>
      <mat-form-field>
        <mat-label>HP</mat-label>
        <input matInput formControlName='MaxHP'>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Strength</mat-label>
        <input matInput formControlName='Strength'>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Dexterity</mat-label>
        <input matInput formControlName='Dexterity'>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Constitution</mat-label>
        <input matInput formControlName='Constitution'>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Wisdom</mat-label>
        <input matInput formControlName='Wisdom'>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Intelligence</mat-label>
        <input matInput formControlName='Intelligence'>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Charisma</mat-label>
        <input matInput formControlName='Charisma'>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Notes</mat-label>
      <input matInput formControlName='Notes'>
    </mat-form-field>
    <div *ngIf='this.isHostile' formArrayName='Actions' class=form-column>
      <mat-label>Actions</mat-label> <button mat-icon-button (click)='addAction()' color='primary'>
        <fa-icon [icon]='faPlus'></fa-icon>
      </button>
      <mat-form-field *ngFor='let action of actions.controls; let i=index'>
        <textarea matInput [formControlName]='i'></textarea>
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-flat-button color='primary' (click)="onSaveCharacterClick()" cdkFocusInitial>Add Creature</button>
</div>
