<div class='ghost-container'>
  <div class='ghost-inner'>
    <h2 class='ghost-header' style='width: 100%'></h2>
    <div class='ghost-content' style='width: 50%'></div>
    <div class='ghost-content' style='width: 40%'></div>
    <div class='ghost-content' style='width: 80%'></div>
    <div class='ghost-content' style='width: 50%'></div>
    <div class='ghost-content' style='width: 40%'></div>
    <div class='ghost-content' style='width: 25%'></div>
  </div>
  <div class='ghost-inner'>
    <h2 class='ghost-header' style='width: 100%'></h2>
    <div class='ghost-content' style='width: 50%'></div>
    <div class='ghost-content' style='width: 40%'></div>
    <div class='ghost-content' style='width: 80%'></div>
    <div class='ghost-content' style='width: 50%'></div>
    <div class='ghost-content' style='width: 40%'></div>
    <div class='ghost-content' style='width: 25%'></div>
  </div>
  <div class='ghost-inner'>
    <h2 class='ghost-header' style='width: 100%'></h2>
    <div class='ghost-content' style='width: 50%'></div>
    <div class='ghost-content' style='width: 40%'></div>
    <div class='ghost-content' style='width: 80%'></div>
    <div class='ghost-content' style='width: 50%'></div>
    <div class='ghost-content' style='width: 40%'></div>
    <div class='ghost-content' style='width: 25%'></div>
  </div>
  <div class='ghost-inner'>
    <h2 class='ghost-header' style='width: 100%'></h2>
    <div class='ghost-content' style='width: 50%'></div>
    <div class='ghost-content' style='width: 40%'></div>
    <div class='ghost-content' style='width: 80%'></div>
    <div class='ghost-content' style='width: 50%'></div>
    <div class='ghost-content' style='width: 40%'></div>
    <div class='ghost-content' style='width: 25%'></div>
  </div>
  <div class='ghost-inner'>
    <h2 class='ghost-header' style='width: 100%'></h2>
    <div class='ghost-content' style='width: 50%'></div>
    <div class='ghost-content' style='width: 40%'></div>
    <div class='ghost-content' style='width: 80%'></div>
    <div class='ghost-content' style='width: 50%'></div>
    <div class='ghost-content' style='width: 40%'></div>
    <div class='ghost-content' style='width: 25%'></div>
  </div>
  <div class='ghost-inner'>
    <h2 class='ghost-header' style='width: 100%'></h2>
    <div class='ghost-content' style='width: 50%'></div>
    <div class='ghost-content' style='width: 40%'></div>
    <div class='ghost-content' style='width: 80%'></div>
    <div class='ghost-content' style='width: 50%'></div>
    <div class='ghost-content' style='width: 40%'></div>
    <div class='ghost-content' style='width: 25%'></div>
  </div>
  <div class='ghost-inner'>
    <h2 class='ghost-header' style='width: 100%'></h2>
    <div class='ghost-content' style='width: 50%'></div>
    <div class='ghost-content' style='width: 40%'></div>
    <div class='ghost-content' style='width: 80%'></div>
    <div class='ghost-content' style='width: 50%'></div>
    <div class='ghost-content' style='width: 40%'></div>
    <div class='ghost-content' style='width: 25%'></div>
  </div>
  <div class='ghost-inner'>
    <h2 class='ghost-header' style='width: 100%'></h2>
    <div class='ghost-content' style='width: 50%'></div>
    <div class='ghost-content' style='width: 40%'></div>
    <div class='ghost-content' style='width: 80%'></div>
    <div class='ghost-content' style='width: 50%'></div>
    <div class='ghost-content' style='width: 40%'></div>
    <div class='ghost-content' style='width: 25%'></div>
  </div>
  <div class='ghost-inner'>
    <h2 class='ghost-header' style='width: 100%'></h2>
    <div class='ghost-content' style='width: 50%'></div>
    <div class='ghost-content' style='width: 40%'></div>
    <div class='ghost-content' style='width: 80%'></div>
    <div class='ghost-content' style='width: 50%'></div>
    <div class='ghost-content' style='width: 40%'></div>
    <div class='ghost-content' style='width: 25%'></div>
  </div>
</div>
