.mat-card {
  margin: 12px;
}
.form-vertical {
  padding: 6px;
  display: flex;
  flex-direction: column;
  form {
    padding: 6px;
    display: flex;
    flex-direction: column;
  }
}
.ck-content .ck-editor__editable  {
  margin: 0 auto;
}
:host ::ng-deep .ck-editor__editable_inline {
  min-height: 80vh;
  max-height: 80vh;
  max-width: 300px;
  font-size: 0.7em;
  h2.fancy, .ck-heading_heading2_fancy {
    color: #fff;
    background: #000;
    font-size: 1.25em;
    padding: .25em;
  }
  p{
    margin-bottom: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
  }
}
