<div class='container-fluid w-75' style='height: 100vh; display: flex; align-items: center; justify-content: center'>
  <div class='row'>

    <div class='col-6 login-logo' style='position: relative'>
      <img style='width: 90%; opacity: 0.2' src='assets/images/dndampersand.png'>
      <div class='title'>
        <h1 class='mat-h1 mat-display-1 mb-0'>DM Screen 5th Edition</h1>
        <p style='text-align: right'>v1.0.0</p>
      </div>
    </div>
    <div class='col-6 align-self-center' *ngIf='!registerMode'>
      <mat-card>
        <mat-card-header>
          <mat-card-title><h1 class='mat-h1'>Sign In</h1></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form class='form-column' [formGroup]='loginForm'>
            <mat-form-field style='margin-top: 2em;'>
              <input matInput placeholder='Email' formControlName='Email' type="email">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder='Password' formControlName='Password' type="password">
            </mat-form-field>
          </form>
        </mat-card-content>
        <div class='buttons-component column'>
          <ng-container *ngIf='!buttonLoader'>
              <button mat-flat-button color='primary' (click)='onLoginClick()'>Login</button>
              <button mat-button (click)='activateRegisterMode()'>Register</button>
          </ng-container>
          <mat-spinner *ngIf='buttonLoader'></mat-spinner>
        </div>
      </mat-card>
    </div>
    <div *ngIf='registerMode' class='col-6'>
      <app-register (cancelRegister)='cancelRegisterMode($event)'></app-register>
    </div>
  </div>

</div>
