<div class='container mt-5 w-50'>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class='form-column'>
          <mat-form-field style='margin-top: 2em;'>
            <input matInput placeholder='Email' type="email">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder='Password' type="password">
          </mat-form-field>
          <button mat-flat-button>Login</button>
          <mat-divider></mat-divider>
          <button mat-button>Register</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
