.form-column {
  display: flex;
  flex-direction: column;
}
.mat-card {
  width: 480px;
  margin: 0 auto;
  .mat-card-content {
    img {
      width: 460px;
      margin: 0 auto;
    }
    padding-left: 1em;
    padding-right: 1em;
  }
}
.login-logo{
  position: relative;
  .title{
    position: absolute;
    top: 60%;
    left: 50%;
  }
}
