<div style='position: absolute; top: 10vh;'>
  <mat-tab-group>
    <mat-tab label="Cheatsheet">
      <app-screen-manual></app-screen-manual>
    </mat-tab>
    <mat-tab label="Notes"></mat-tab>
    <mat-tab label="Documents"><app-screen-documents></app-screen-documents> </mat-tab>
    <mat-tab label="Maps"> This will allow the users to select from a list of uploaded images. it will open the image. It will also allow the user to push these images to the players. </mat-tab>
  </mat-tab-group>
</div>
<!-- <div class="fixed-bottom">
  <div class="overflow-row">
    <app-cheatsheet style='position: relative' *ngFor="let resource of accountResourceList;" [Resource]=resource (cheatsheetDeleted)='onDeleted($event)'></app-cheatsheet>
    <app-screen-loader *ngFor='let ghost of ghosts'></app-screen-loader>
    <div class=resource-add-container>
      <div style='text-align: center;'>
        <mat-form-field>
            <mat-label>Add existing cheetsheet</mat-label>
            <mat-select [(value)]='selected'>
              <mat-option *ngFor="let resource of selectResourceItems" [value]="resource.value">
                {{resource.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-button color='primary' (click)='addResource()'>Add</button>
      </div>
    </div>
  </div>
</div> -->
