
.menu-sticky{
  position: fixed;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  right: 1em;
  bottom: 5em;
  z-index: 999999;
  button{
    z-index: 999999;
  }
}
