<div cdkDragLockAxis="x" cdkDrag class="draggable">
    <mat-card class="character-card">
        <mat-card-title>Character Name</mat-card-title>
        <mat-card-subtitle class="stat-initative">15</mat-card-subtitle>
        <mat-card-content>
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <label class="stat-label">AC</label>
                        <p class="stat-value">14</p>
                    </div>
                    <div class="col-3">
                        <label class="stat-label">Perception</label>
                        <p class="stat-value">11</p>
                    </div>
                    <div class="col-3">
                        <label class="stat-label">Investigaton</label>
                        <p class="stat-value">12</p>
                    </div>
                    <div class="col-3">
                        <label class="stat-label">Insight</label>
                        <p class="stat-value">15</p>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <div class="example-handle" cdkDragHandle>
                <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                  <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
              </div>
    </mat-card>
</div>